* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  /* these settings will remove anything about the apperance of the normal btn */
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  background: rgba(84, 106, 123, 0.4);
  color: #E5ECE9;
}

/* the wrap div */
.wrap {
  /* these values here are changable depending on the main website */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem 1.5rem;
  /* the websies bakground */
  background: #071420;
  border: 1px solid #000000;
  backdrop-filter: blur(2px);
}

.todo-wrapper {
  width: 100%;
  max-width: 500px;
  height: 425px;
  background: rgba(84, 106, 123, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}

/* start of the to do section */
.todo-wrapper header .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  background: rgba(102, 106, 134, 0.45);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px 13px 0px 0px;
  padding: 10px 20px 7px 13px;
}

.todo-wrapper header h1 {
  color: #E5ECE9;
  /* font-family: 'Faustina'; font is changable */
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-left: 8px;
}

.todo-wrapper #create {
  color: #E5ECE9;
  font-size: 25px;
}

.todo-wrapper .icon {
  font-weight: 900;
}

/* end of header section */

/*  for the items part */
#list {
  max-height: 350px;
  overflow-y: scroll;
}

/* this is to style the scroll */
#list::-webkit-scrollbar {
  width: 5.5px;
}

#list::-webkit-scrollbar-thumb {
  background-color: #546b82;
  border-radius: 5px;
  border-radius: 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(217, 217, 217, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 17px;

  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 13px 9px 13px;
}

.item:last-of-type {
  margin-bottom: 25px;
}

.item input[type="checkbox"] {
  margin-right: 8px;
}

.item input[type="text"] {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  color: #E5ECE9;
  flex: 1 1 0%;
  /* this order will stretch the text to the left*/
}

/* to make it look like u can type in it */
.item input[type="text"]:not(:disabled) {
  border-bottom: 2px solid #E5ECE9;
}

/* for the completed tasks */
.item.complete {
  opacity: 0.9;
  background-color: rgba(115, 115, 115, 0.4);
}

.item.complete input[type="text"] {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #E5ECE9;
  text-decoration-style: solid;
}

.item:hover,
.item:focus-within {
  /* outline: 0.5px solid #E5ECE9; */
  /* box-shadow: 5px solid #071420; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
  background-color: rgba(115, 115, 115, 0.4);
}

/* the action btn of a item  */
.actions {
  display: none;
}

.item:hover .actions,
.item:focus .actions {
  display: contents;
}

.actions button {
  margin-right: 6px;
  opacity: 0.8;
  /* font-size: 15px; */
  /* width: 15px; */
  transform: 0.1s;
  color: #E5ECE9;
}

.actions button.remove-btn {
  color: rgb(240, 9, 55);
  /* font-size: 15px; */
  font-weight: 900;
}

.actions button:hover {
  opacity: 1;
}

.actions button:last-of-type {
  margin-right: 0;
}

/* hide the default checkbox */
/* input[type="checkbox"] { */
/* display: none; */
/* } */

/* style the custom checkbox */
.item input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 20%;
  outline: none;
  cursor: pointer;
}

.item input[type="checkbox"]:checked {
  background-color: #8bb4de;
  border-color: #8bb4de;
  position: relative;
}

.item input[type="checkbox"]:checked::before {
  /* content: "\f00c"; */
  content: '\2713';
  font-size: 18px;
  font-weight: 900;
  color: #E5ECE9;
  /* margin-left: 2px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* end of items part */

/* start of the responsive part */

/* Media queries for mobile screens */

@media screen and (max-width: 767px) {
  .wrap {
    padding: 10px;
    /* height: 150px; */

  }

  .todo-wrapper {
    height: 190px;
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    margin: 29px 30px 28px 30px;
  }

  .todo-wrapper header .title h1 {
    font-size: 20px;
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
  }

  .item input[type="text"] {
    font-size: 15px;
  }

  .item {
    height: 25px;
    padding: 7px 8.5px 7px 10px;
  }

  .actions button.material-icons .icon {
    font-size: 15px;
    font-weight: 700;
  }

  #list {
    height: 125px;
  }

  .item input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }

  .item input[type="checkbox"]:checked::before {
    font-size: 15px;
  }
}

/* end of mobile screen */

/* for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
  .todo-wrapper {
    max-width: 450px;
    height: 340px;
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    margin: 29px 30px 28px 30px;
  }
  #list {
    height: 250px;
  }
  header h1 {
    font-family: 'Faustina';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 30px;
  }

  .item input[type="text"] {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
  }
  .item {
    height: 35px;
    padding: 7px 8.5px 7px 10px;
  }
  .actions button.material-icons .icon {
    font-size: 20px;
  }
}

/* end of the responsive part */
